name: build attempt
on:
    push:
    pull_request:

jobs:
    build:
        name: cargo build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: actions-rust-lang/setup-rust-toolchain@v1
            - run: cargo build
